<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdj.examines.dao.AddUserMapper">
    <!--新增人员档案信息 selectKey 新增后返回id-->
    <insert id="addUserInfo" parameterType="Userinfo">
        <selectKey resultType="Integer" keyProperty="userid" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO userinfo(mname,mcard,mbirthdate,mphone,methnic,midtype,mage,mculture,mjob,mprovince,mcity,mcounty,mdistrict,
        mvillage,mregistered,fname,fcard,fbirthDate,fphone,fethnic,fIdtype,fage,fculture,fjob,fprovince,fcity,fcounty,fdistrict,
        fvillage,fregistered,address,creatDate,getMarriedDate,regtypeId,landlineNumber,mimg,fimg,email,doctorName,qimgm,qimgf)
        VALUES(#{mname},#{mcard},#{mbirthdate},#{mphone},#{methnic},#{midtype},#{mage},#{mculture},#{mjob},#{mprovince},#{mcity},#{mcounty},
        #{mdistrict},#{mvillage},#{mregistered},#{fname},#{fcard},#{fbirthdate},#{fphone},#{fethnic},#{fidtype},#{fage},#{fculture},#{fjob},
        #{fprovince},#{fcity},#{fcounty},#{fdistrict},#{fvillage},#{fregistered},#{address},#{creatdate},#{getmarrieddate},#{regtypeid},
        #{landlinenumber},#{mimg},#{fimg},#{email},#{doctorname},#{qimgm},#{qimgf})
    </insert>
    <insert id="addNowmedicalhistory" parameterType="Nowmedicalhistory">
        <selectKey resultType="Integer" keyProperty="nmedicalid" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO Nowmedicalhistory(ntypelist,elsecontent)
        VALUES(#{ntypelist},#{elsecontent})
        </insert>
    <insert id="addMedicalhistory" parameterType="Medicalhistory">
        <selectKey resultType="Integer" keyProperty="medicalid" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO Medicalhistory(typelist,medicalname,morbiditycount,latelytime,istakemedicine,capacity,isoperating,operatingroom,operatingdate)
        VALUES(#{typelist},#{medicalname},#{morbiditycount},#{latelytime},#{istakemedicine},#{capacity},#{isoperating},#{operatingroom},#{operatingdate})
    </insert>
    <insert id="addMaritalhistory" parameterType="Maritalhistory">
        <selectKey resultType="Integer" keyProperty="birthid" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO Maritalhistory(isdivorced,soncount,girlcount,isgeneticdisease,geneticdisease)
        VALUES(#{isdivorced},#{soncount},#{girlcount},#{isgeneticdisease},#{geneticdisease})
    </insert>
    <insert id="addYxResult">
        INSERT INTO yxcheckresult(userId,sex) VALUES(#{userId},#{sex})
    </insert>
</mapper>