<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdj.examines.dao.CheckProveMapper">
    <select id="getAdviseArr" resultType="String">
        SELECT a.`adviseArr` FROM yxadvisecheckresult a,yxcheckresult b WHERE
        a.`resultId`=b.`resultId` AND b.userId=#{userid} AND b.`sex`=#{sex}
    </select>
    <select id="loadUserInfo" resultType="Userinfo">
        SELECT u.userid,u.fname,u.fage,u.fcard,u.fphone,u.fbirthdate,a.content as address FROM userinfo u,assess a
        WHERE u.userid=a.userid
        <if test="name!=null and name!=''">
            AND (u.fname like concat('%',#{name},'%') or u.mname like concat('%',#{name},'%'))
        </if>
        <if test="startdate!=null   ">
            AND u.createdate >= #{startdate}
        </if>
        <if test="enddate!=null ">
            and  u.createdate &lt;= #{enddate}
        </if>
    </select>
    <select id="NoteByUserinfo" parameterType="Userinfo" resultType="Userinfo">
        SELECT * FROM userinfo WHERE 1=1
        <if test="fname!=null and fname!=''">
        AND fname LIKE concat('%',#{fname},'%')
        </if>
        <if test="mbirthdate!=null and fbirthdate!=null">
            AND creatDate>=#{mbirthdate} AND creatDate &lt;=#{fbirthdate}
        </if>
        <if test="fcity!=null and fcity!=''">
            AND fcity LIKE concat('%',#{fcity},'%') OR fprovince LIKE concat('%',#{fcity},'%')
        </if>

    </select>
</mapper>