<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdj.examines.dao.XcheckMapper">
    <select id="isCheck" resultType="Xexamine">
        select * from Xexamine where userId=#{userId} and sex=#{sex}
    </select>
    <insert id="checkX">
        insert into Xexamine(userId,xNum,opinion,abnormalType,abnormalContent,doctorName,examineDate,sex)
        values(#{userId},#{xNum},#{opinion},#{abnormalType},#{abnormalContent},#{doctorName},#{examineDate},#{sex})
    </insert>
    <update id="updXCheck">
        update Xexamine set xNum=#{xNum},opinion=#{opinion},
        abnormalType=#{abnormalType},abnormalContent=#{abnormalContent},
        doctorName#{doctorName},examineDate#{examineDate},sex=#{sex} where xId=#{xId}

    </update>

</mapper>
