<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="layui/css/layui.css">
		<link rel="stylesheet" href="css/Assess.css" />
		<script src="layui/layui.js"></script>
		<script src="js/Assess.js"></script>
	</head>
	<body style="background-color: rgb(243,244,245);">
		<div class="layui-container " style="width: 90%;">
			<form class="layui-form" lay-filter="formTest">
				<div class="layui-container" style="margin-top: 30px">
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">系统编号：</label>
						<div class="layui-input-inline">
						  <input type="text" name="userid" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">丈夫姓名：</label>
						<div class="layui-input-inline">
						  <input type="text" name="mname" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">妻子姓名：</label>
						<div class="layui-input-inline">
						  <input type="text" name="fname" lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
				<div class="" style="border: 1px silver solid;background-color: white;">
					<div style="width: 95%;margin: 0 auto;">
						<table class="layui-table" id="test" lay-filter="test"></table>
						<div class="layui-form-item layui-form-text">
						    <div class="layui-row">
						      <textarea class="layui-textarea" name="content" id="content"  style="height: 250px;"></textarea>
						    </div>
						</div>
						<div class="layui-form-item" id="radio">
							<div class='layui-row'>
								<input type="radio" name="sdid" value="1" checked='checked'>在已接受的检查项目中,暂未发现夫妇双方存在对怀孕不利的危险因素。建议定期接受健康教育与指导。
							</div>
							<div class='layui-row'>
								<input type="radio" name="sdid" value="2">夫妇仅一方(丈夫/妻子)接受检查评估。在已接受的检查项...素。建议另-方(丈夫/妻子)尽快前来接受孕前优生健康检查。
							</div>
							<div class='layui-row'>
								<input type="radio" name="sdid" value="3">在已接受的检查项目中,发现对怀孕不利的危险因素,建议进一 步咨询及查治。
							</div>
						</div>
					</div>
				</div>
				<br />
				<div class="layui-row">
					<div class="layui-col-md3 layui-col-md-offset3">
						<div class="layui-form-item layui-inline">
						    <label class="layui-form-label">医生签名：</label>
						    <div class="layui-input-inline">
						      <input type="text" name="doctorname" lay-verify="required" autocomplete="off" class="layui-input">
						    </div>
						</div>
					</div>
					<div class="layui-col-md3">
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">检查日期：</label>
							<div class="layui-input-inline">
							  <input type="text" name="examinedate" id="mdate" lay-verify="required" autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>
				</div>
				<div class="layui-container" style="text-align: center;">
					<div class="layui-form-item" >
						<button type="button" lay-submit lay-filter="formDemo" class="layui-btn layui-bg-blue" style="border-radius: 3px;">保存</button>
						<button type="reset" class="layui-btn layui-bg-orange" style="border-radius: 3px;">重置</button>
						<button type="button" class="layui-btn layui-bg-red" style="border-radius: 3px;">返回</button>
					</div>
				</div>
			</form>
		</div>
		<script type="text/html" id="toolbarDemo">
			<div class="layui-btn-container">
				<button type="button" class="layui-btn" lay-event="use">使用建议</button>
			</div>
		</script>
	</body>
</html>
