<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>临床检验女</title>
    <link rel="stylesheet" href="layui/layui.js" />
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body>
<br>
<div  class="layui-container">
<form class="layui-form" action="" >
        <div style="border:  0.8px solid cornflowerblue"><p  style="background-color: rgb(214, 236, 246);font-size: 15px;color: #0074d9;text-align: left">尿液常规检查</p>
            <br/>
            <div class="layui-form-item" style="width: 100%">
                <label class="layui-form-label" style="width: 100px" >尿液常规检查:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="layui-input-inline" style="width: 300px">
                    <select name="interest" lay-filter="aihao">
                        <option value="" selected="">所有</option>
                        <option value="">身份证</option>
                        <option value="">手机号</option>
                    </select>
                </div>
            <div class="layui-inline">
                <label class="layui-form-label"  style="width: 200px" >异常描述:</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" style="width: 300px"  lay-verify="title"  autocomplete="off" class="layui-input">
                </div>
            </div>


            <br>
        </div>

        <br>
            <div style="border:  0.8px solid cornflowerblue"><p  style="background-color: rgb(214, 236, 246);font-size: 15px;color: #0074d9;text-align: left">血液</p>
                <br/>
                <div class="layui-form-item" style="width: 100%">
                    <label class="layui-form-label" style="width: 100px" >ABO:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="layui-input-inline" style="width: 300px">
                        <select name="interest" lay-filter="aihao">
                            <option value="" selected="">所有</option>
                            <option value="">身份证</option>
                            <option value="">手机号</option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"  style="width: 200px" >RH:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" style="width: 300px"  lay-verify="title"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div style="border:  0.8px solid cornflowerblue"><p  style="background-color: rgb(214, 236, 246);font-size: 15px;color: #0074d9;text-align: left">血糖</p>
                    <br/>
                    <div class="layui-form-item" style="width: 100%">
                        <div class="layui-inline">
                            <label class="layui-form-label"  style="width: 200px" >血糖(mmol/L):</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" style="width: 300px"  lay-verify="title"  autocomplete="off" class="layui-input">
                            </div>
                        </div>

                    </div>
        </div>
                <div style="border:  0.8px solid cornflowerblue"><p  style="background-color: rgb(214, 236, 246);font-size: 15px;color: #0074d9;text-align: left">乙肝血清检查</p>
                    <br/>
                    <div class="layui-form-item" style="width: 100%">
                        <label class="layui-form-label" style="width: 100px" >HBs-Ag:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="layui-input-inline" style="width: 370px">
                            <select name="interest" lay-filter="aihao">
                                <option value="" selected="">所有</option>
                                <option value="">身份证</option>
                                <option value="">手机号</option>
                            </select>
                        </div>
                        <label class="layui-form-label" style="width: 100px" >HBe-Ab:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="layui-input-inline" style="width: 370px">
                            <select name="interest" lay-filter="aihao">
                                <option value="" selected="">所有</option>
                                <option value="">身份证</option>
                                <option value="">手机号</option>
                            </select>
                        </div>
                        <br>
                        <label class="layui-form-label" style="width: 100px" >HBs-Ab:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="layui-input-inline" style="width: 370px">
                            <select name="interest" lay-filter="aihao">
                                <option value="" selected="">所有</option>
                                <option value="">身份证</option>
                                <option value="">手机号</option>
                            </select>
                        </div>
                        <label class="layui-form-label" style="width: 100px" >HBc-Ab:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="layui-input-inline" style="width: 370px">
                            <select name="interest" lay-filter="aihao">
                                <option value="" selected="">所有</option>
                                <option value="">身份证</option>
                                <option value="">手机号</option>
                            </select>
                        </div>
                        <label class="layui-form-label" style="width: 100px" >HBe-Ab:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="layui-input-inline" style="width: 370px">
                            <select name="interest" lay-filter="aihao">
                                <option value="" selected="">所有</option>
                                <option value="">身份证</option>
                                <option value="">手机号</option>
                            </select>
                        </div>
                    </div>
                    <div style="border:  0.8px solid cornflowerblue"><p  style="background-color: rgb(214, 236, 246);font-size: 15px;color: #0074d9;text-align: left">肝肾功能</p>
                        <br/>
                        <div class="layui-form-item" style="width: 100%">
                            <label class="layui-form-label"  style="width: 200px" >谷丙转氨酶ALT(U/L):</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" style="width: 300px"  lay-verify="title"  autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"  style="width: 200px" >肌酐Cr(umol/L):</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="title" style="width: 300px"  lay-verify="title"  autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>

                        <div style="border:  0.8px solid cornflowerblue"><p  style="background-color: rgb(214, 236, 246);font-size: 15px;color: #0074d9;text-align: left">甲状腺检测</p>
                            <br/>
                            <div class="layui-form-item" style="width: 100%">
                                <div class="layui-inline">
                                    <label class="layui-form-label"  style="width: 200px" >促甲状腺TSH(uIU/ml):</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="title" style="width: 300px"  lay-verify="title"  autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                            </div>
                            </div>
                        <div style="border:  0.8px solid cornflowerblue"><p  style="background-color: rgb(214, 236, 246);font-size: 15px;color: #0074d9;text-align: left">病毒筛查</p>
                            <br/>
                            <div class="layui-form-item" style="width: 100%">
                                <label class="layui-form-label" style="width: 100px" >风疹病毒:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="layui-input-inline" style="width: 370px">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="" selected="">所有</option>
                                        <option value="">身份证</option>
                                        <option value="">手机号</option>
                                    </select>
                                </div>
                                <label class="layui-form-label" style="width: 100px" >梅毒螺旋体:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="layui-input-inline" style="width: 370px">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="" selected="">所有</option>
                                        <option value="">身份证</option>
                                        <option value="">手机号</option>
                                    </select>
                                </div>
                                <br>
                                <label class="layui-form-label" style="width: 100px" >巨细胞病毒IgG:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="layui-input-inline" style="width: 370px">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="" selected="">所有</option>
                                        <option value="">身份证</option>
                                        <option value="">手机号</option>
                                    </select>
                                </div>
                                <label class="layui-form-label" style="width: 100px" >巨细胞病毒IgM:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="layui-input-inline" style="width: 370px">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="" selected="">所有</option>
                                        <option value="">身份证</option>
                                        <option value="">手机号</option>
                                    </select>
                                </div>
                                <label class="layui-form-label" style="width: 100px" >弓形体IgG:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="layui-input-inline" style="width: 370px">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="" selected="">所有</option>
                                        <option value="">身份证</option>
                                        <option value="">手机号</option>
                                    </select>
                                </div>
                                <label class="layui-form-label" style="width: 100px" >弓形体IgM:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="layui-input-inline" style="width: 370px">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="" selected="">所有</option>
                                        <option value="">身份证</option>
                                        <option value="">手机号</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                        </div>
                            </div>
                <div style="border:  0.8px solid cornflowerblue"><p  style="background-color: rgb(214, 236, 246);font-size: 15px;color: #0074d9;text-align: left">其他检查</p>
                    <br/>
                    <div class="layui-form-item layui-form-text">

                        <div class="layui-input-block">
                            <textarea placeholder="" class="layui-textarea"></textarea>
                        </div>
                    </div>
</div>
                    </div>
                </div>


        <br>
        <div class="layui-form-item">
            <label class="layui-form-label">医生签名:</label>
            <div class="layui-input-block">
                <select name="interest" lay-filter="aihao">
                    <option value="" selected="selected">管理员</option>
                    <option value="0">写作</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">询问日期:</label>
            <div class="layui-input-block" >
                <input type="text" name="date" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div align="center">
            <button type="button" class="layui-btn layui-btn-normal">保存</button>
            <button type="reset" class="layui-btn layui-btn-normal">重置</button></div>
</form>
</div>
<script src="./layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });



    });

</script>
</body>
</html>