<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="layui/css/layui.css">
		<link rel="stylesheet" href="css/FindBchao.css" />
		<script src="layui/layui.js"></script>
		<script src="js/FindBchao.js"></script>
	</head>
	<body>
		<div class="layui-container" style="width: 90%;">
			<form class="layui-form" >
				<div class="imgTitl" style="margin-top: 50px;">
					<p class="double">查询条件</p>
				</div>
				<fieldset class="layui-elem-field" >
					<div class="layui-field-box">
						<div class="layui-row">
							<div class="layui-col-md3">
								<div class="layui-form-item">
									<label class="layui-form-label">妻子姓名:</label>
									<div class="layui-input-inline">
									    <input type="text" id="fName" name="fname" autocomplete="off"  class="layui-input">
									</div>
								</div>
							</div>
							<div class="layui-col-md3">
								<div class="layui-form-item">
									<label class="layui-form-label">妻子证件号:</label>
									<div class="layui-input-inline">
									    <input type="text" id="fCard" name="fcard" autocomplete="off" class="layui-input">
									</div>
								</div>
							</div>
							<div class="layui-col-md3">
								<div class="layui-form-item">
									<label class="layui-form-label">丈夫姓名:</label>
									<div class="layui-input-inline">
									    <input type="text" id="mName" name="mname" autocomplete="off"  class="layui-input">
									</div>
								</div>
							</div>
							<div class="layui-col-md3">
								<div class="layui-form-item">
									<label class="layui-form-label">丈夫证件号:</label>
									<div class="layui-input-inline">
									    <input type="text" id="mCard" name="mcard" autocomplete="off" class="layui-input">
									</div>
								</div>
							</div>
							<div class="layui-col-md12"></div>
							<div class="layui-col-md3">
								<div class="layui-form-item">
									<label class="layui-form-label">档案编号:</label>
									<div class="layui-input-inline">
									    <input type="text" id="userId" name="userid" lay-verify="title" autocomplete="off"  class="layui-input">
									</div>
								</div>
							</div>
							<div class="layui-col-md3">
								<div class="layui-form-item">
									<label class="layui-form-label">建档日期:</label>
									<div class="layui-input-inline">
									    <input type="text" name="creatdate" id="creatdate"  autocomplete="off" class="layui-input">
									</div>
								</div>
							</div>
						</div>
						<div class="layui-form-item" style="text-align: center;margin-top: 50px;">
							<button class="layui-btn layui-bg-blue" lay-submit lay-filter="formDemo" style="border-radius: 3px;">查询</button>
							<button type="reset" class="layui-btn layui-bg-orange" style="border-radius: 3px;">清空</button>
							<button class="layui-btn layui-bg-red" style="border-radius: 3px;">返回</button>
						</div>
					</div>
				</fieldset>
			</form>
		<br>
		<div class="imgTitl">
			<p class="double">信息列表</p>
		</div>
		<fieldset class="layui-elem-field">
			<div class="layui-field-box">
				<table class="layui-table" id="test" lay-filter="test"></table>
			</div>
		</fieldset>

		</div>
		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-xs" lay-event="edit">打开B超</a>
		</script>
	</body>
</html>
