<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="layui/css/layui.css">
		<link rel="stylesheet" href="css/Prove.css" />
		<script src="layui/layui.js"></script>
		<script src="js/Prove.js"></script>
	</head>
	<body>
		<div class="layui-container" style="width: 90%;">
			<form class="layui-form">
				<div class="layui-row" style="margin-top: 20px;">
					<div class="layui-col-md6">
						<div class=""style="margin-left: 20px;">
							<div class="layui-bg-gray layui-inline info">
								系统编号：
							</div>
							<div class="layui-bg-gray layui-inline infos">
								
							</div>
						</div>
						<hr>
						<div class=""style="margin-left: 20px;">
							<div class="layui-bg-gray layui-inline info">
								<div class="layui-row">
									<div class="layui-col-md6">姓</div>
									<div class="layui-col-md6">名：</div>
								</div>
							</div>
							<div class="layui-bg-gray layui-inline infos">
								
							</div>
						</div>
						<hr>
						<div class=""style="margin-left: 20px;">
							<div class="layui-bg-gray layui-inline info">
								<div class="layui-row">
									<div class="layui-col-md6">性</div>
									<div class="layui-col-md6">别：</div>
								</div>
							</div>
							<div class="layui-bg-gray layui-inline infos">
								
							</div>
						</div>
						<hr>
						<div class=""style="margin-left: 20px;">
							<div class="layui-bg-gray layui-inline info">
								对方姓名：
							</div>
							<div class="layui-bg-gray layui-inline infos">
								
							</div>
						</div>
						<hr>
					</div>
					<div class="layui-col-md6">
						<div class="img layui-col-md4 layui-col-md-offset4">
							<img src="layui/images/face/2.gif" width="150"height="150"/>
						</div>
					</div>
				</div>
				<div class="layui-row " style="margin-left: 20px;">
					直系、三代内旁系血亲关系 无
				</div>
				<br/><br/><br/><br/>
				<div class="">
					<fieldset class="layui-elem-field">
						<blockquote class="layui-elem-quote" style="background-color: #93D1FF;">
							婚前医学检查结果
						</blockquote>
						<div class="layui-field-box">
							<br/>
							<div class="layui-row">
								<div class="layui-form-item">
									<div class="layui-col-md3 layui-col-md-offset1">
										<div class="layui-bg-gray layui-inline abnormality">
											<input type="radio" name="sex" value="" checked="checked">
										</div>
										<div class="layui-bg-gray layui-inline abnormalitys">
											未见异常
										</div>
									</div>
									<div class="layui-col-md3 layui-col-md-offset1">
										<div class="layui-bg-gray layui-inline abnormality">
											<input type="radio" name="sex" value="">
										</div>
										<div class="layui-bg-gray layui-inline abnormalitys">
											存在异常情况，描述如下
										</div>
									</div>
								</div>
							</div>
							<br/>
							<div class="layui-form-item">
							    <div class="layui-row">
							      <input type="text" name="" autocomplete="off" placeholder="异常描述" class="layui-input">
							    </div>
							</div>
						</div>
					</fieldset>
					<fieldset class="layui-elem-field">
						<blockquote class="layui-elem-quote" style="background-color: #93D1FF;">
							医学意见
						</blockquote>
					  <div class="layui-field-box">
						<div class="layui-form-item" style="margin-left: 40px;">
						    <div class="layui-inline layui-bg-gray suggest">
						      <input type="checkbox" name="like1[write]" lay-skin="primary">
						    </div>
							<div class="layui-bg-gray layui-inline suggests">
								xxx
							</div>
						</div>
					  </div>
					</fieldset>
					<hr>
				</div>
				
				
				
				<div class="layui-container" style="text-align: center;">
					<div class="layui-form-item" style="color: red;">
						<button type="button" class="layui-btn layui-btn-normal">新建</button>
						<button type="reset" class="layui-btn layui-btn-normal">重置</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
