<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdj.examines.dao.ImageMapper">
    <!--查询用户-->
    <select id="getUser" parameterType="Userinfo">
        SELECT * FROM user_info where 1=1
        <if test="mName!='' and mName!=null">
            and mName like concat('%',#{mName},'%')
        </if>
        <if test="fName!='' and fName!=null">
            and fName like concat('%',#{fName},'%')
        </if>
        <if test="mCard!='' and mCard!=null">
            and mCard = #{mCard}
        </if>
        <if test="fCard!='' and fCard!=null">
            and fCard = #{fCard}
        </if>
        <if test="userId!='' and userId!=null">
            and userId=#{userId}
        </if>
        <if test="creatDate!='' and creatDate!=null">
            and creatDate = #{creatDate}
        </if>
        group by creatDate desc
    </select>
</mapper>